<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="footerAndHeader"/>
    <title></title>
</head>

<body>
<h2 id="center-text"><g:message code="choose.account"/></h2><br>

<div class="center">
    <g:form controller="Cash">
        <div id="work">
            <div class="bloc1">
                <div>

                    <div><g:select name="id" from="${listAccount}" optionValue="currency"
                                   optionKey="id"/></div>
                </div><br>
                <g:actionSubmit name="go" value="Выбрать" action="index"/>
            </div>
        </div>
    </g:form>
</div>
</body>
</html>