<div id="inform">
    <div><g:message code="my.viget.bancAccInfo.content"/> </div>
    <div><g:message code="my.viget.numberBancAccInfo.content"/></div>
    <div><g:message code="my.viget.balance.content"/> ${balance} RUB</div>
</div>